target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/mysql/
/volume-data/
/data/
/docker/tempo/tempo-data/
/docker/tempo/tempo-data/
order-service/order-service/pom.xml
order-service/order-service/src/main/java/com/example/microservices/order_service/OrderServiceApplication.java
order-service/order-service/src/main/java/com/example/microservices/order_service/client/InventoryClient.java
order-service/order-service/src/main/java/com/example/microservices/order_service/config/RestClientConfig.java
products/product-service/.idea/workspace.xml
